/*https://stackoverflow.com/questions/38373743/continuous-looping-scrollable-content-in-all-directions*/
body {
  position: relative;
  --x: 0;
  --y: 0;
}
#background,
#app {
  position: absolute;
  left: 0;
  top: 0;
  width: 3600px;
  height: 3600px;
}

#background {
  /* background-image: url("http://1-background.com/images/stars-1/star-space-tile.jpg");
  background-size: 300px 300px;
  background-repeat: repeat; */
  transform: translate(var(--x), var(--y));
}
#background {
  display: grid;
  grid-template-columns: repeat(5, 1800px);
  grid-template-rows: repeat(5, 1800px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.scroll-container-observer {
  width: 9000px;
  height: 9000px;
  display: grid;
  grid-template-columns: 0px 9000px 0px;
}
.up,
.down {
  width: 9000px;
  height: 0px;
  background: yellow;
}
.left,
.right {
  height: 9000px;
  width: 0px;
  background: yellow;
}
.scroll-container-observer .middle {
  display: grid;
  grid-template-columns: repeat(5, 1800px);
  grid-template-rows: repeat(5, 1800px);
}
.inner-grid {
  display: grid;
  grid-template-columns: repeat(4, 450px);
  grid-template-rows: repeat(4, 450px);
}
.debug {
  position: fixed;
  z-index: 100;
  background: white;
  padding: 0.5rem;
}
